<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/github.css" />
  </head>
  <body>
    <header>
      <a href="/">Kisoo Blog</a>
      <nav>
        <a href="/about">About</a>
        <a href="https://github.com/Jeong-ki/static-blog">Github</a>
      </nav>
    </header>
    <main>
      <h1>{{ post.title }}</h1>
      <p class="author">
        Written by {{ site.auther }} on {{ post.created_at }}
      </p>
      {{{ post.body }}}
    </main>
  </body>
</html>
